<template>

  <!-- page content -->
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center text-center">
        <h1 class="error-number"><i class="fa fa-gears"></i></h1>
        <h2>Em construção...</h2>
        <p>Desculpe, mas essa página ainda não está disponível, qualquer dúvida contacte-nos através do e-mail <a href="mailto:contact@admtruck.com.br">contact@admtruck.com.br</a>
        </p>
      </div>
    </div>
  </div>
  <!-- /page content -->

</template>
