<template>

  <require from="components/bootstrap/datepicker/datepicker"></require>
  <require from = "components/custom/cropper/cropper-modal.html"></require>

  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>${titleFlow} Funcionário</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>${employee.name}<small>${employee.nickname}</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left" data-parsley-validate submit.delegate="save()">
              <span class="section">Informações Pessoais</span>

              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nome Completo
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="name" class="form-control col-md-7 col-xs-12" value.bind="employee.name" data-validate-words="2" name="name" placeholder="Nome completo e.g Paulo da Silva" required="required" type="text">
                </div>
              </div>
              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nickname">Apelido
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="nickname" class="form-control col-md-7 col-xs-12" value.bind="employee.nickname" name="nickname" required="required" type="text">
                </div>
              </div>
              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nickname">CPF
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="cpf" class="form-control col-md-7 col-xs-12" masked="value.bind: employee.cpf; mask: 999.999.999-99;" name="cpf" required="required" type="text">
                </div>
              </div>
              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nickname">RG
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="rg" class="form-control col-md-7 col-xs-12" masked="value.bind: employee.rg; mask: 99.999.999-9; placeholder: space;" name="cpf" required="required" type="text">
                </div>
              </div>
              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nickname">CNH
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="cnh" class="form-control col-md-7 col-xs-12" masked="value.bind: employee.driverLicense; mask: 99999999999; placeholder: space;" name="cnh" required="required" type="text">
                </div>
              </div>
              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="email" id="email" name="email" required="required" value.bind="employee.email" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div show.bind="!employee._id" class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Confirmação de Email
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="email" id="email2" name="confirm_email" value.bind="emailConfirmation" data-validate-linked="email" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Cargo
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="occupation" type="text" name="occupation" required="required" value.bind="employee.occupation" data-validate-length-range="5,20" class="optional form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Endereço
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="address" type="text" name="address" value.bind="employee.address" class="optional form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Telefone
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="tel" class="form-control col-md-7 col-xs-12" masked="value.bind: employee.phone; mask: (99) 9999-9999; placeholder: space;" name="cnh" required="required" type="text">
                </div>
              </div>
              <div class="item form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bith">Data de Nascimento
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <datepicker name="birth" value.bind="employee.birthDate" required="required" change.delegate="fireChangeDate($event)"></datepicker>
                </div>
              </div>
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Descrição
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea id="description" name="description" value.bind="employee.description" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
              </div>

              <div class="item form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">

                  <!-- end of image cropping -->
                  <div id="crop-avatar" style="width: 206px">
                    <!-- Current avatar -->
                    <img class="avatar-view img-responsive" click.trigger="showCropperModal()" src="${getPhoto(employee._id)}" alt="Avatar" title="Alterar Imagem">
                  </div>
                  <!-- end of image cropping -->

                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <button type="button" onclick="window.location = '#/employees'" class="btn btn-primary">Cancelar</button>
                  <button id="save" type="submit" class="btn btn-success">Salvar</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
