<template>
  <!-- empty content -->
  <div class="col-md-12" if.bind="employees.length == 0">
    <div class="col-middle">
      <div class="text-center text-center">
        <h1 class="error-number"><i class="fa fa-folder-open"></i></h1>
        <h2>Não há funcionários cadastrados ainda...</h2>
        <p>Comece a registrar as informações de seus funcionários clicando <a href="#/employee">AQUI</a>
        </p>
      </div>
    </div>
  </div>
  <!-- /empty content -->

  <div class="" if.bind="employees.length">
    <div class="page-title">
      <div class="title_left">
        <h3>Lista de Funcionários</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="row">

              <div class="clearfix"></div>

              <div repeat.for="employee of employees" class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>${employee.occupation}</i></h4>
                    <div class="left col-xs-7">
                      <h2>${employee.name}</h2>
                      <p><strong>Função: </strong> ${employee.occupation} </p>
                      <ul class="list-unstyled">
                        <li><i class="fa fa-building"></i> Endereço: ${employee.address}</li>
                        <li><i class="fa fa-phone"></i> Fone #: ${employee.phone}</li>
                      </ul>
                    </div>
                    <div class="right col-xs-5 text-center">
                      <img src="${getPhoto(employee._id)}" alt="" class="img-circle img-responsive">
                    </div>
                  </div>
                  <div class="col-xs-12 bottom text-center">
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <a href="#/employee/${employee._id}"><span class="fa fa-pencil">&nbsp;EDITAR</span></a> &nbsp;
                      <a style="cursor: pointer" click.trigger="confirmDelete(employee._id)"><span class="fa fa-trash">&nbsp;REMOVER</span></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 emphasis">
                      <a href="tel:${employee.phone}" class="btn btn-success btn-xs">
                        <i class="fa fa-phone"></i>
                      </a>
                      <a href="#/employee/${employee._id}/profile" class="btn btn-primary btn-xs">
                        <i class="fa fa-user"> </i> Visualizar
                      </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
