<template>


  <!-- REQUIRE -->
  <require from="utils/converters.js"></require>
  <require from = "components/confirm-modal"></require>
  <require from = "components/bootstrap/select2/custom-select"></require>
  <require from = "components/bootstrap/datepicker/datepicker"></require>
  <require from = "components/jquery/currency/input-currency"></require>

  <!-- PAGE CONTENT -->
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Despesas</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Custos e Despesas</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Formulário de Cadastro </h4>
            <p class="font-gray-dark">
              Informar os dados referentes as despesas <b>eventuais, operacionais ou tributáveis</b> da empresa.
            </p>
            <form class="row" data-parsley-validate data-parsley-errors-messages-disabled submit.delegate="save()">
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="invoiceNumber">NF</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <input type="text" id="invoiceNumber" required="required" value.bind="expense.invoiceNumber" class="form-control" placeholder=" ">
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="date">Data</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <datepicker name="date" value.bind="expense.date" required="required" change.delegate="fireChangeDate($event)"></datepicker>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Valor (R$)</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <inputcurrency value.bind="expense.value" required="required" change.delegate="fireChangeValue($event)" />
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Tipo de Despesa</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <select2 name="typeExpense" selected.bind="expense.type" options.bind="types" required="required" change.delegate="fireChangeType($event)" placeholder="Selecione um Tipo de Despesa"></select2>
                </div>
              </div>
              <div if.bind="expense.type == 'loan'" class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Empréstimo</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <select2 name="loan" selected.bind="expense.loan" options.bind="loans" placeholder="Selecione o Empréstimo" change.delegate="fireChangeLoan($event)"></select2>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="contract">Contrato </label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <select2 name="contract" selected.bind="expense.contract" options.bind="contracts" placeholder="Selecione o Contrato" change.delegate="fireChangeContract($event)"></select2>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="truck">Caminhão </label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <select2 name="truck" selected.bind="expense.truck" options.bind="trucks" placeholder="Selecione o Caminhão"change.delegate="fireChangeTruck($event)"></select2>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="employee">Funcionário </label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <select2 name="employee" selected.bind="expense.employee" options.bind="employees" placeholder="Selecione o Funcionário" change.delegate="fireChangeEmployee($event)"></select2>

                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Descrição </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea class="form-control" rows="2" required="required" value.bind="expense.description"></textarea>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <button type="submit" class="btn btn-danger">Salvar</button>
                <button show.bind="expense._id" click.delegate="clear()" type="button" class="btn btn-default">Cancelar</button>
              </div>
            </form>

            <div class="clearfix"></div>
            <br/>
            <br/>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Despesas <small>Listagem</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th># Nota Fiscal</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Contrato</th>
                        <th>Caminhão</th>
                        <th>Funcionário</th>
                        <th>Descrição</th>
                        <th class="column-title no-link last"><span class="nobr">Opções</span>
                      </tr>
                    </thead>
                    <tbody>
                      <tr repeat.for="expense of expenses">
                        <th scope="row">${expense.invoiceNumber}</th>
                        <td>${expense.date | dateFormat:'DD/MM/YYYY'}</td>
                        <td style="color: #d9534f;">${expense.value | numberFormat:'$ 0,0.00'}</td>
                        <td>${getTypeName(expense.type)}</td>
                        <td>${expense.contract.name ? expense.contract.name : '-'}</td>
                        <td>${expense.truck.plate ? expense.truck.plate : '-'}</td>
                        <td>${expense.employee.name ? expense.employee.name : '-'}</td>
                        <td>${expense.description ? expense.description : '-'}</td>
                        <td class=" last">
                          <a href="#/expenses/${expense._id}" class="btn btn-default btn-xs" alt="Editar" title="Editar"><i class="fa fa-pencil"></i></a>
                          &nbsp;
                          <a style="cursor: pointer" click.trigger="confirmDelete(expense._id)"class="btn btn-default btn-xs" alt="Excluir" title="Excluir"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
