<template>

  <!-- REQUIRE -->
  <require from = "components/confirm-modal.html"></require>

  <!-- empty content -->
  <div class="col-md-12" if.bind="trucks.length == 0">
    <div class="col-middle">
      <div class="text-center text-center">
        <h1 class="error-number"><i class="fa fa-folder-open"></i></h1>
        <h2>Não há caminhões cadastrados ainda...</h2>
        <p>Comece a registrar as informações de seus veículos clicando <a href="#/truck">AQUI</a>
        </p>
      </div>
    </div>
  </div>
  <!-- /empty content -->

  <!-- PAGE-CONTENT -->
  <div class="col-md-12 col-sm-12 col-xs-12" if.bind="trucks.length">
    <div class="x_panel">
      <div class="x_title">
        <h2> Caminhões da Empresa <small>Listagem com vínculos de contrato</small></h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">

        <div class="table-responsive">
          <table class="table table-striped jambo_table">
            <thead>
              <tr class="headings">
                <th class="column-title">Marca </th>
                <th class="column-title">Modelo </th>
                <th class="column-title">Ano </th>
                <th class="column-title">Situação </th>
                <th class="column-title no-link last"><span class="nobr">Opções</span>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr repeat.for="truck of trucks" class="${ $index % 2 == 0 ? 'even' : 'odd' } pointer">
                <td class=" ">${truck.name}</td>
                <td class=" ">${truck.model}</td>
                <td class=" ">${truck.year}</i></td>
                <td class=" ">${truck.status}</td>
                <td class=" last">
                  <a href="#/truck/${truck._id}" class="btn btn-default btn-xs" alt="Editar" title="Editar"><i class="fa fa-pencil"></i></a>
                  &nbsp;
                  <a style="cursor: pointer" click.trigger="confirmDelete(truck._id)"class="btn btn-default btn-xs" alt="Excluir" title="Excluir"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
