<template>

  <require from = "components/bootstrap/switchery/custom-switchery"></require>

  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>${titleFlow} Caminhão</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>${truck.name}<small>${truck.model}</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li class="navbar-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="truck-form" data-parsley-validate class="form-horizontal form-label-left" submit.delegate="save()">

              <div class="form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brand-truck">Marca
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="brand-truck" required="required" value.bind="truck.name" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="form-group required">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="truck-model">Modelo
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="truck-model" name="truck-model" required="required" value.bind="truck.model" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="form-group required">
                <label for="truck-year" class="control-label col-md-3 col-sm-3 col-xs-12">Ano</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="truck-year" class="form-control col-md-7 col-xs-12" required="required" value.bind="truck.year" type="text" name="truck-year">
                </div>
              </div>
              <div class="form-group required">
                <label for="truck-plate" class="control-label col-md-3 col-sm-3 col-xs-12">Placa</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="truck-plate" class="form-control col-md-7 col-xs-12" required="required" value.bind="truck.plate" type="text" name="truck-plate">
                </div>
              </div>
              <div class="form-group required">
                <label for="renavam-truck" class="control-label col-md-3 col-sm-3 col-xs-12">Renavam</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input id="renavam-truck" class="form-control col-md-7 col-xs-12" required="required" value.bind="truck.renavam" type="text" name="renavam-truck">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-3">Veículo para agregamento?</label>
                <div class="col-md-1 col-sm-1 col-xs-3">
                  <div class="">
                    <label>
                      <switchery change.delegate="fireChangeAggregation($event)" checked.bind="truck.forAggregation"></switchery>
                    </label>
                  </div>
                </div>
                <label class="control-label col-md-1 col-sm-1 col-xs-4">Participação nas despesas?</label>
                <div class="col-md-1 col-sm-1 col-xs-1">
                  <div class="">
                    <label>
                      <switchery change.delegate="fireChangeParticipationExpense($event)" checked.bind="truck.participationExpense"></switchery>
                    </label>
                  </div>
                </div>
                <label for="participationPercentage" class="control-label col-md-1 col-sm-1 col-xs-12">Percentual de Participação</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <input class="knob" data-width="100" data-height="120" data-angleOffset=-125 data-angleArc=250 data-displayPrevious=true data-fgColor="#26B99A"  data-rotation="anticlockwise" value.bind="truck.participationPercentage">
                </div>
              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="button" onclick="window.location = '#/trucks'" class="btn btn-primary">Cancelar</button>
                  <button type="submit" class="btn btn-success">Concluir</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
