<template>
  <div id="" class="reportrange pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
    <span>&nbsp;&nbsp;${formatDateFrom}&nbsp;&nbsp;</span> <b class="caret"></b>
  </div>
</template>
