<template>
  <router-view></router-view>
  
  <ul class="nav loading-indicator" if.bind="env.requesting">
    <li class="loader" style="top: 50% ">
      <i class="fa fa-spinner fa-spin fa-5x" style="color: white;"></i>
    </li>
  </ul>
</template>
