<template>
  <footer>
    <div class="pull-right">
      ${user.company.name} - ${user.company.cnpj} &nbsp;
      <img class="img-circle profile_img" src="http://localhost:3000/api/public/images/${user.company._id}" />
    </div>
    <div class="clearfix"></div>
  </footer>
</template>
