<template>

  <require from = "components/custom/image/avatar-view"></require>

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <avatarview></avatarview>${user.displayName}
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="javascript:;"><i class="fa fa-question-circle pull-right"></i>Ajuda</a></li>
            <li><a click.delegate="logout()"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span id="notificationCount" show.bind="notifications.length" class="badge bg-green">${notificationCount}</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li repeat.for="notification of notifications">
              <a click.delegate="markReadNotification(notification)">
                <span class="image"><i class="glyphicon glyphicon-envelope"></i></span>
                <span>
                  <span>${notification.title}</span>
                  <span class="time">${getNotificationTime(notification.date)}</span>
                </span>
                <span class="message">
                  ${notification.message}
                </span>
              </a>
            </li>
            <li>
              <div class="text-center">
                <a if.bind="notifications.length">
                  <strong>Ver Todas</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
                <strong if.bind="!notifications.length">Não há notificações no momento</strong>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</template>
