<template>
  <require from="../utils/converters"></require>

  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>Login</h1>
          <div>
            <input type="text" class="form-control submit" placeholder="Email" value.bind="user.email" required="" />
          </div>
          <div>
            <input type="password" class="form-control submit" placeholder="Senha" value.bind="user.password" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" style="cursor: pointer;" click.delegate="login()">Entrar</a>
            <a class="reset_pass" click.delegate="isForgotPass = true return true" href="#signup">Esqueceu sua senha?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Não possui cadastro?
              <a href="#signup" click.delegate="isForgotPass = false return true" class="to_register"> Crie uma Conta </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><image src="/src/images/logo-login.png" width="50em"/>&nbsp;<span>ADMTRUCK</span> </h1>
              <p>©${getCurrentDate() | dateFormat:'YYYY'} Todos os direitos reservados.</p>
            </div>
          </div>
        </form>
      </section>
    </div>

    <div id="register" class="animate form registration_form">
      <section class="login_content">
        <form>
          <h1>${isForgotPass ? "Recuperar senha" : "Criar Conta"}</h1>
          <div>
            <input show.bind="!isForgotPass" type="text" class="form-control" placeholder="Nome" value.bind="user.name" required="" />
          </div>
          <div>
            <input type="email" class="form-control" placeholder="Email" value.bind="user.email" required="" />
          </div>
          <div>
            <input show.bind="!isForgotPass" type="text" class="form-control" placeholder="Nome da Empresa" value.bind="user.companyName" required="" />
          </div>
          <div>
            <input show.bind="!isForgotPass" type="text" class="form-control" placeholder="CNPJ" value.bind="user.companyId" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" click.delegate="signup()">Enviar</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Já possui cadastro?
              <a href="#signin" class="to_register"> Acesse com sua conta </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><image src="/src/images/logo-login.png" width="50em"/>&nbsp;<span>ADMTRUCK</span> </h1>
              <p>©${getCurrentDate() | dateFormat:'YYYY'} Todos os direitos reservados.</p>
            </div>
          </div>
        </form>
      </section>
    </div>

  </div>
</template>
