<template>

  <require from = "components/custom/image/avatar-view"></require>

  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="#/dashboard" class="site_title">
        <image src="/src/images/logo.png" /> <span> ADMTRUCK</span>
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <avatarview class="img-circle profile_img" clickable.bind="true"></avatarview>
      </div>
      <div class="profile_info">
        <span>Bem vindo,</span>
        <h2>${user.displayName}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3></h3>
        <ul class="nav side-menu">
          <li>
          </li>
        </ul>
      </div>
      <div class="menu_section">
        <h3>Sistema</h3>
        <ul class="nav side-menu">
          <li><a href="#/users"><i class="fa fa-users"></i> Usuários</a>
          </li>
          <li><a href="#/documents"><i class="fa fa-gears"></i> Parâmetros </a></li>
        </ul>
      </div>
      <div class="menu_section">
        <h3>Administração</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-truck"></i> Caminhões <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#/trucks">Listar</a></li>
              <li><a href="#/truck">Cadastrar</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-male"></i> Funcionários <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#/employees">Listar</a></li>
              <li><a href="#/employee">Cadastrar</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-road"></i> Fretes <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="#/contracts">Listar</a></li>
              <li><a href="#/contract">Cadastrar</a></li>
              <li><a href="#/budget">Análise Orçamentária</a></li>
            </ul>
          </li>
          <li><a href="#/dashboard"><i class="fa fa-bar-chart"></i> Indicadores </a></li>
        </ul>
      </div>
      <div class="menu_section">
        <h3>Contabilidade</h3>
        <ul class="nav side-menu">
          <li>
            <a href="#/revenues">
              <i class="fa fa-arrow-circle-o-up" style="color: #5cb85c;"></i>
              Faturamento
            </a>
          </li>
          <li>
            <a href="#/expenses">
              <i class="fa fa-arrow-circle-o-down" style="color: #e05f5f"></i>
              Despesas
            </a>
          </li>
          <li><a href="#/loans"><i class="fa fa-bank"></i> Empréstimos</a>
          </li>
          <li><a href="#/cashflow"><i class="fa fa-refresh"></i> Fluxo de Caixa</a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">

    </div>
    <!-- /menu footer buttons -->
  </div>

</template>
