<template>

  <require from="utils/converters.js"></require>

  <input type="text" id.bind="name" name.bind="name" class="form-control" readonly="readonly" style="background-color: #fff" value.bind="value | dateFormat:'DD/MM/YYYY'">
</template>
