<template>

  <!-- CUSTOM STYLE -->
  <style type="text/css">
  @media screen and (min-width: 700px){
    div[id="placeholder3xx3"] {
      min-height: 575px !important;
    }
  }
  </style>

  <!-- REQUIRE -->
  <require from="utils/converters.js"></require>
  <require from="components/custom/daterangepicker/daterangepicker"></require>
  <require from="components/custom/image/avatar-view"></require>

  <!-- PAGE CONTENT -->
  <div class="">
    <div class="row top_tiles">
      <div class="col-md-2 col-sm-2 col-xs-12 tile pull-right top_search">
          <div class="input-group date pull-right" style="margin: 0.8em;">
            <input type="text" class="form-control" readonly="readonly" style="background-color: #fff">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-calendar fa fa-calendar" data-toggle="tooltip" data-placement="bottom" title="Selecione uma data para atualizar os Indicadores."></i>
              </button>
            </span>
            <span class="input-group-addon" hide.bind="true">
              <i class="glyphicon glyphicon-calendar fa fa-calendar" data-toggle="tooltip" data-placement="bottom" title="Selecione uma data para atualizar os Indicadores."></i>
            </span>
          </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 tile">
      <hr />
    </div>
    <div class="row top_tiles" style="margin: 10px 0;">
      <div class="col-md-3 col-sm-3 col-xs-6 tile">
        <span>Total de Faturamento</span>
        <h2>${headerTotals.totalEarnings | numberFormat:'$ 0,0.00'}</h2>
        <span  style="height: 160px;" class="count_bottom">
          <i class="${headerTotals.percentEarningsLast == 0 ? 'blue' : headerTotals.percentEarningsLast > 0 ? 'green' : 'red'}">
            <i class="fa ${headerTotals.percentEarningsLast == 0 ? 'blue' : headerTotals.percentEarningsLast > 0 ? 'fa-sort-asc' : 'fa-sort-desc'}"></i>
            ${headerTotals.percentEarningsLast | numberFormat:'0,0.00%'} </i> comparado ao mês anterior</span>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 tile">
            <span>Total de Despesas</span>
            <h2>${headerTotals.totalExpense | numberFormat:'$ 0,0.00'}</h2>
            <span  style="height: 160px;" class="count_bottom">
              <i class="${headerTotals.percentExpenseLast == 0 ? 'blue' : headerTotals.percentExpenseLast > 0 ? 'green' : 'red'}">
                <i class="fa ${headerTotals.percentExpenseLast == 0 ? '' : headerTotals.percentExpenseLast > 0 ? 'fa-sort-asc' : 'fa-sort-desc'}"></i>
                ${headerTotals.percentExpenseLast | numberFormat:'0,0.00%'} </i> comparado ao mês anterior</span>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Lucro Líquido</span>
                <h2>${headerTotals.profit | numberFormat:'$ 0,0.00'}</h2>
                <span  style="height: 160px;" class="count_bottom">
                  <i class="${headerTotals.percentProfitLast == 0 ? 'blue' : headerTotals.percentProfitLast > 0 ? 'green' : 'red'}">
                    <i class="fa ${headerTotals.percentProfitLast == 0 ? '' : headerTotals.percentProfitLast > 0 ? 'fa-sort-asc' : 'fa-sort-desc'}"></i>
                    ${headerTotals.percentProfitLast | numberFormat:'0,0.00%'} </i> comparado ao mês anterior</span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 tile">
                    <span>Total Em Caixa</span>
                    <h2>${headerTotals.totalCash | numberFormat:'$ 0,0.00'}</h2>
                    <span style="height: 160px;" class="count_bottom">
                      <i class="${headerTotals.percentTotalCashLast == 0 ? 'blue' : headerTotals.percentTotalCashLast > 0 ? 'green' : 'red'}">
                        <i class="fa ${headerTotals.percentTotalCashLast == 0 ? '' : headerTotals.percentTotalCashLast > 0 ? 'fa-sort-asc' : 'fa-sort-desc'}"></i>
                        ${headerTotals.percentTotalCashLast | numberFormat:'0,0.00%'} </i> comparado ao mês anterior</span>
                      </div>
                    </div>
                    <br />


                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">

                      </div>
                    </div>
                    <br/>
                    <div class="row">
                      <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="dashboard_graph x_panel">
                          <div class="row x_title">
                            <div class="col-md-6">
                              <h3>Indicador de Faturamento <small>Anual (${filter | dateFormat:'YYYY'})</small></h3>
                            </div>
                          </div>
                          <div class="x_content">
                            <div class="demo-container" style="width: 100%; height:100%">
                              <div id="placeholder3xx3" class="demo-placeholder" style="width: 100%; height:100%">
                                <div style="height: 32px"></div>
                                <canvas id="incomeChart" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Faturamento / Centro de Custo <small>Somente Fretes Realizados</small></h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="overflow_262 mCustomScrollbar"
                          data-mcs-theme="dark"
                          >
                          <div class="x_content">
                            <div if.bind="!contractRevenues.length" class="msg-empty-dashboard-chart">
                              <h4><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i> Não há lançamentos neste período.</h4>
                            </div>
                            <h4 if.bind="contractRevenues.length">Contratos</h4>
                            <div if.bind="contractRevenues.length" repeat.for="contract of contractRevenues" class="widget_summary">
                              <div class="w_left w_25">
                                <span>${contract.name}</span>
                              </div>
                              <div class="w_center w_55">
                                <div class="progress">
                                  <div class="progress-bar bg-green" role="progressbar" aria-valuenow="${contract.progress}" aria-valuemin="0" aria-valuemax="100" style="width: ${contract.progress}%;">
                                    <span class="sr-only">${contract.progress}% Complete</span>
                                  </div>
                                </div>
                              </div>
                              <div class="w_right w_20">
                                <span style="font-size: 15px !important">${contract.value | numberFormat:'$ 0,0.00'}</span>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Caminhões <small>Rentabilidade</small></h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="overflow_262 mCustomScrollbar"
                        data-mcs-theme="dark">
                        <div class="x_content">
                          <table style="width:100%">
                            <tr>
                              <th style="max-width: 56%">
                                <p></p>
                              </th>
                              <th>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                  <p class="">Caminhões</p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                  <p class="">Percentual</p>
                                </div>
                              </th>
                            </tr>
                            <tr>
                              <td style="max-width: 40%;">
                                <canvas id="truckChart"></canvas>
                              </td>
                              <td>
                                <table class="tile_info">
                                  <tr repeat.for="truck of contributionTruckInfo">
                                    <td>
                                      <p alt="${truck.name}" title="${truck.name}"><i class="fa fa-square" style="color: ${truck.presentationColor}"></i>${truck.name} </p>
                                    </td>
                                    <td>${truck.percentage | numberFormat:'0.00%'}</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <div if.bind="!contributionTruckInfo.length" class="msg-empty-dashboard-chart">
                            <h4><i class="fa fa-pie-chart" aria-hidden="true"></i> Não há lançamentos neste período.</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="dashboard_graph x_panel">
                      <div class="row x_title">
                        <div class="col-md-6">
                          <h3>Indicador de Produção <small>${filter | dateFormat:'MMMM'} (Estimado x Realizado)</small></h3>
                        </div>
                      </div>
                      <div class="x_content">
                        <div class="demo-container" style="width: 100%; height:100%">
                          <div id="placeholder3xx3" class="demo-placeholder" style="width: 100%; height:100%">
                            <div style="height: 32px"></div>
                            <canvas id="productionChart">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Atribuição de Gastos <small>Contrato / Frete</small></h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="overflow_262 mCustomScrollbar"
                        data-mcs-theme="dark"
                        >
                        <div class="x_content">
                          <div if.bind="!contractCosts.length" class="msg-empty-dashboard-chart">
                            <h4><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i> Não há lançamentos neste período.</h4>
                          </div>
                          <h4 if.bind="contractCosts.length">Distribuição</h4>
                          <div if.bind="contractCosts.length" repeat.for="contract of contractCosts" class="widget_summary">
                            <div class="w_left w_25">
                              <span>${contract.name}</span>
                            </div>
                            <div class="w_center w_55">
                              <div class="progress">
                                <div class="progress-bar bg-expense-${contract.fragment}" role="progressbar" aria-valuenow="${contract.progress}" aria-valuemin="0" aria-valuemax="100" style="width: ${contract.progress}%;">
                                  <span class="sr-only">${contract.progress}% Complete</span>
                                </div>
                              </div>
                            </div>
                            <div class="w_right w_25">
                              <span style="font-size: 15px !important">${contract.value | numberFormat:'$ 0,0.00'}</span>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2>Caminhões <small>Custos</small></h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="overflow_262 mCustomScrollbar" data-mcs-theme="dark">
                      <div class="x_content">
                        <table class="" style="width:100%">
                          <tr>
                            <th style="max-width: 56%">
                              <p></p>
                            </th>
                            <th>
                              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p class="">Caminhões</p>
                              </div>
                              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <p class="">Percentual</p>
                              </div>
                            </th>
                          </tr>
                          <tr>
                            <td style="max-width: 40%;">
                              <canvas id="truckChart2"></canvas>
                            </td>
                            <td>
                              <table class="tile_info">
                                <tr repeat.for="truck of truckExpensesInfo">
                                  <td>
                                    <p alt="${truck.name}" title="${truck.name}"><i class="fa fa-square" style="color: ${truck.presentationColor}"></i>${truck.name} </p>
                                  </td>
                                  <td>${truck.percentage | numberFormat:'0.00%'}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <div if.bind="!truckExpensesInfo.length" class="msg-empty-dashboard-chart">
                          <h4><i class="fa fa-pie-chart" aria-hidden="true"></i> Não há lançamentos neste período.</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </template>
