<template>

  <!-- REQUIRE -->
  <require from="utils/converters.js"></require>
  <require from = "components/bootstrap/select2/custom-select"></require>
  <require from = "components/jquery/currency/input-currency"></require>

  <!-- PAGE CONTENT -->
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Orçamento</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Análise Orçamentária</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Formulário de Dados </h4>
            <p class="font-gray-dark">
              Informar os dados do frete a ser orçado, as informações de origem e destino podem ser parciais, no entanto quanto mais detalhes melhor a precisão do resultado.
            </p>
            <form class="row" data-parsley-validate data-parsley-errors-messages-disabled submit.delegate="calc()">
              <div class="col-md-6 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="last-name">Origem
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <input class="form-control placesFrom" placeholder="Informe o Endereço"
                         focus.delegate="geolocate()" type="text" required="required"></input>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="last-name">Destino
                </label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <input class="form-control placesTo" placeholder="Informe o Endereço"
                         focus.delegate="geolocate()" type="text" required="required"></input>
                </div>
              </div>

              <div class="col-md-4 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="totalValue">Valor da Poposta</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <inputcurrency id="totalValue" change.delegate="changeTotalValue($event)"/>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="fuelPrice">Valor do Combustível / Litro</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <inputcurrency id="fuelPrice" change.delegate="changeFuelPrice($event)"/>
                </div>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-12 col-sm-12 col-xs-12" for="averageConsumption">Consumo do Veículo (Km / L)</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <inputcurrency id="averageConsumption" change.delegate="changeAverageConsumption($event)" />
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <a click.delegate="addAditionalCost()" style="cursor: pointer;"><i class="fa fa-plus"></i> Incluir Custos Adicionais</a>
                </div>
                <hr />
              </div>
              <!-- start accordion -->
              <div class="accordion col-md-12 col-sm-12 col-xs-12 " id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel" repeat.for="panel of budget.costs">
                  <a class="panel-heading" role="tab" id="heading${$index}" data-toggle="collapse" data-parent="#accordion" href="#collapse${$index}" aria-expanded="true" aria-controls="collapse${$index}">
                    <h4 class="panel-title">
                      ${panel.title} : ${panel.value | numberFormat:'$ 0,0.00'}
                    </h4>
                  </a>
                  <div class="pull-right" style="padding: 10px; margin-top: -40px">
                    <a click.delegate="removeAditionalCost($index)" style="cursor: pointer;" alt="Remover" title="Remover"><i class="fa fa-trash" style="font-size: 16px;"></i></a>
                  </div>
                  <div id="collapse${$index}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading${$index}">
                    <div class="panel-body">
                      <div class="col-md-4 col-sm-12 col-xs-12 form-group required">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="aditionalCost">Título</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <input id="aditionalCost" class="form-control" value.bind="panel.title" />
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-12 col-xs-12 form-group required">
                        <label class="control-label col-md-12 col-sm-12 col-xs-12" for="aditionalValue">Valor (R$)</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <inputcurrency id="aditionalValue" change.delegate="changeAdicionalValue($event, panel)" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of accordion -->

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-6 col-sm-12 col-xs-12">&nbsp;</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn-primary col-md-3 col-sm-12 col-xs-12"><i class="fa fa-calculator"></i> Calcular</button>
                </div>
              </div>
            </form>

            <div class="clearfix"></div>
            <br/>
            <br/>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Resultado</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Distância Percorrida</th>
                        <th>Tempo Médio do Percurso</th>
                        <th>Valor Bruto Por Viagem</th>
                        <th>Total de Custos</th>
                        <th>Lucro</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><i class="fa fa-arrows-v"></i> ${result.distance}</th>
                        <td><i class="fa fa-clock-o"></i> ${result.duration}</td>
                        <td style="color: #46b8da;">${result.totalValue | numberFormat:'$ 0,0.00'}</td>
                        <td style="color: #d9534f;">${result.totalExpense | numberFormat:'$ 0,0.00'}</td>
                        <td style="color: ${result.profit < 0 ? '#d9534f' : result.profit > 0 ? '#26B99A' : ''};">${result.profit | numberFormat:'$ 0,0.00'}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
