<template>

            <!-- REQUIRE -->
            <require from="../../utils/converters.js"></require>


            <!-- PAGE CONTENT -->
            <div class="page-title">
              <div class="title_left">
                <h3>Fretes <small>Contratos Firmados</small></h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Frete</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <p>Listagem dos fretes vinculados a empresa</p>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%">Dados do frete</th>
                          <th>Funcionários Vinculados</th>
                          <th>Caminhões Vinculados</th>
                          <th>Contribuição de Faturamento</th>
                          <th>Situação</th>
                          <th style="width: 20%">#Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr repeat.for="contract of contracts">
                          <td>#</td>
                          <td>
                            <a>${contract.name}</a>
                            <br />
                            <small>Celebrado em ${contract.date | dateFormat:'DD.MM.YYYY'}</small>
                          </td>
                          <td>
                            <ul class="list-inline">
                              <li repeat.for="employee of contract.employees">
                                <a href="#/employee/${employee._id}/profile"><img src="${getPhoto(employee._id)}" class="avatar" alt="${employee.name}" title="${employee.name}"></a>
                              </li>
                            </ul>
                          </td>
                          <td>
                            <ul class="list-inline">
                              <li repeat.for="truck of contract.trucks">
                                <a href="#/truck/${truck._id}"><i class="fa fa-truck" alt="${truck.name} ${truck.model} [${truck.plate}]" title="${truck.name} ${truck.model} [${truck.plate}]"></i>  [${truck.plate}]
                                <span if.bind="!$last">, </span>
                              </li>
                            </ul>
                          </td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="${contract.contributionPercentage}"></div>
                            </div>
                            <small>${contract.contributionPercentage}% de contribuição</small>
                          </td>
                          <td>
                            <button type="button" click.delegate="changeStatus(contract)" class="btn ${contract.active ? 'btn-success' : 'btn-danger'} btn-xs"><i class="fa ${contract.active ? 'fa-gears' : 'fa-ban' }">&nbsp;${ contract.active ? 'Ativo' : 'Inativo'}</i></button>
                          </td>
                          <td>
                            <a href="#/contract/${contract._id}/detail" alt="Visualizar" title="Visualizar" class="btn btn-default btn-xs"><i class="fa fa-eye"></i>  </a>
                            <a href="#/contract/${contract._id}" alt="Editar" title="Editar" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i>  </a>
                            <a style="cursor: pointer" alt="Excluir" title="Excluir" click.trigger="confirmDelete(contract._id)" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i>  </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
</template>
