<template>

  <!-- REQUIRE -->
  <require from="utils/converters.js"></require>

  <!-- PAGE CONTENT -->
  <div class="page-title">
    <div class="title_left">
      <h3>Detalhe do Contrato</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Indicadores de Andamento do Contrato | Documentos de Interesse</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">

          <div class="col-md-9 col-sm-9 col-xs-12">

            <ul class="stats-overview">
              <li>
                <span class="name"> Total de Faturamento </span>
                <span class="value text-success"> ${2300 | numberFormat:'$ 0,0.00'} </span>
              </li>
              <li>
                <span class="name"> Total de Despesas </span>
                <span class="value text-success"> ${500 | numberFormat:'$ 0,0.00'} </span>
              </li>
              <li class="hidden-phone">
                <span class="name"> Data de Vencimento </span>
                <span class="value text-success"> ${contract.executionDate | dateFormat:'DD/MM/YYYY'} </span>
              </li>
            </ul>
            <br />

            <div id="main" style="height:350px;"></div>

            <div>

              <h4>Recent Activity</h4>

              <!-- end of user messages -->
              <ul class="messages">
                <li>
                  <img src="src/images/user.png" class="avatar" alt="Avatar">
                  <div class="message_date">
                    <h3 class="date text-info">24</h3>
                    <p class="month">May</p>
                  </div>
                  <div class="message_wrapper">
                    <h4 class="heading">Desmond Davison</h4>
                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                    <br />
                    <p class="url">
                      <span class="fs1 text-info" aria-hidden="true" data-icon="O"></span>
                      <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                    </p>
                  </div>
                </li>
                <li>
                  <img src="src/images/user.png" class="avatar" alt="Avatar">
                  <div class="message_date">
                    <h3 class="date text-error">21</h3>
                    <p class="month">May</p>
                  </div>
                  <div class="message_wrapper">
                    <h4 class="heading">Brian Michaels</h4>
                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                    <br />
                    <p class="url">
                      <span class="fs1" aria-hidden="true" data-icon="O"></span>
                      <a href="#" data-original-title="">Download</a>
                    </p>
                  </div>
                </li>
                <li>
                  <img src="src/images/user.png" class="avatar" alt="Avatar">
                  <div class="message_date">
                    <h3 class="date text-info">24</h3>
                    <p class="month">May</p>
                  </div>
                  <div class="message_wrapper">
                    <h4 class="heading">Desmond Davison</h4>
                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                    <br />
                    <p class="url">
                      <span class="fs1 text-info" aria-hidden="true" data-icon="O"></span>
                      <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                    </p>
                  </div>
                </li>
              </ul>
              <!-- end of user messages -->


            </div>


          </div>

          <!-- start project-detail sidebar -->
          <div class="col-md-3 col-sm-3 col-xs-12">

            <section class="panel">

              <div class="x_title">
                <h2>Descrição do Contrato</h2>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                <h3 class="green"><i class="fa fa-file-text-o"></i> ${contract.name}</h3>

                <p>${contract.description}</p>
                <br />

                <div class="project_detail">

                  <p class="title">Empresa Contratante</p>
                  <p>${contract.contractingCompany}</p>
                  <p class="title">CNPJ Contratante</p>
                  <p>${contract.cnpjContractingCompany}</p>
                </div>

                <br />
                <!-- <div if.bind="hasAttachments()">
                  <h5>Anexos</h5>
                  <ul class="list-unstyled project_files">
                    <li repeat.for="attachment of contract.attachments">
                      <a href=""><i class="fa fa-${getExtensionFile(attachment.name)}"></i> ${attachment.name}</a>
                    </li>
                  </ul>
                </div> -->
                <br />

                <div class="text-center mtop20">
                  <a onclick="" class="btn btn-sm btn-primary">
                    <i class="fa fa-paperclip"></i> Anexar
                    <input type="file" id="attachment-file" style="display: none" />
                  </a>
                </div>

              </div>

            </section>

          </div>
          <!-- end project-detail sidebar -->

        </div>
      </div>
    </div>
  </div>
</template>
