<template>

  <require from = "components/bootstrap/select2/custom-select"></require>
  <require from = "components/bootstrap/icheck/custom-icheck"></require>
  <require from = "components/bootstrap/datepicker/datepicker"></require>

  <div class="page-title">
    <div class="title_left">
      <h3>Contato</h3>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Contratos firmados</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">


          <!-- Smart Wizard -->
          <p>Especificar os dados do contrato, informando quais serão os recursos alocados.</p>
          <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps">
              <li>
                <a href="#step-1">
                  <span class="step_no">1</span>
                  <span class="step_descr">
                    Dados do Contrato<br />
                    <small>Informe os dados referente ao contrato</small>
                  </span>
                </a>
              </li>
              <li>
                <a href="#step-2">
                  <span class="step_no">2</span>
                  <span class="step_descr">
                    Motoristas<br />
                    <small>Selecione os motoristas vinculados ao contrato</small>
                  </span>
                </a>
              </li>
              <li>
                <a href="#step-3">
                  <span class="step_no">3</span>
                  <span class="step_descr">
                    Caminhões<br />
                    <small>Selecione os caminhões que associados ao contrato</small>
                  </span>
                </a>
              </li>
            </ul>
            <div id="step-1" class="h_450">
              <form id="" class="form-horizontal form-label-left" data-parsley-validate>

                <div class="form-group required">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Identificador
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="identifier" value.bind="contract.name"  data-parsley-trigger="change" required class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Contratante
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="contractingCompany" name="contractingCompany" value.bind="contract.contractingCompany" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">CNPJ da Contratante
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="cnpjContractingCompany" name="cnpjContractingCompany" value.bind="contract.cnpjContractingCompany" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="form-group required">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Origem
                  </label>

                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control placesFrom" placeholder="Informe o Endereço"
                            type="text"></input>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Destino
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control placesTo" placeholder="Informe o Endereço"
                            type="text"></input>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Data da Celebração
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <datepicker name="execution-date" value.bind="contract.date" required="required" change.delegate="changeDate($event)"></datepicker>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Descrição
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="description" name="description" value.bind="contract.description" class="form-control col-md-7 col-xs-12"></textarea>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Fretes Estimados por Mês
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="estimatedProduction" name="range" />
                  </div>
                </div>
              </form>

            </div>
            <div id="step-2">
              <h2 class="StepTitle">Listagem de Funcionários</h2>
              <div class="x_content">

                <div class="table-responsive">
                  <table class="table table-striped jambo_table">
                    <thead>
                      <tr class="headings">
                        <th class="column-title"># </th>
                        <th class="column-title">Nome </th>
                        <th class="column-title">Apelido </th>
                        <th class="column-title">Telefone </th>
                        <th class="column-title">CPF </th>
                        <th class="column-title">RG </th>
                        <th class="column-title">CNH </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr repeat.for="employee of employees" class="${ $index % 2 == 0 ? 'even' : 'odd' } pointer">
                        <td class="a-center ">
                          <icheck type="checkbox" value="${employee._id}" change.delegate="addEmployeeToContract($event)" name="table_records">
                        </td>
                        <td class=" ">${employee.name}</td>
                        <td class=" ">${employee.nickname}</td>
                        <td class=" "><a href="tel:${employee.phone}">${employee.phone}</a></td>
                        <td class=" ">${employee.cpf}</td>
                        <td class=" ">${employee.rg}</td>
                        <td class=" last">${employee.rg}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div id="step-3">
              <h2 class="StepTitle">Listagem de Caminhões</h2>
              <div class="x_content">

                <div class="table-responsive">
                  <table class="table table-striped jambo_table">
                    <thead>
                      <tr class="headings">
                        <th class="column-title"># </th>
                        <th class="column-title">Marca </th>
                        <th class="column-title">Modelo </th>
                        <th class="column-title">Ano </th>
                        <th class="column-title">Situação </th>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr repeat.for="truck of trucks" class="${ $index % 2 == 0 ? 'even' : 'odd' } pointer">
                        <td class="a-center ">
                          <icheck id="check_${truck._id}" type="checkbox" value="${truck._id}" change.delegate="addTruckToContract($event)" name="table_records">
                        </td>
                        <td class=" ">${truck.name}</td>
                        <td class=" ">${truck.model}</td>
                        <td class=" ">${truck.year}</i></td>
                        <td class=" last">${truck.status}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End SmartWizard Content -->

</template>
