<template>


  <!-- REQUIRE -->
  <require from="utils/converters.js"></require>
  <require from="components/confirm-modal.html"></require>
  <require from="components/bootstrap/datepicker/datepicker"></require>
  <require from = "components/jquery/currency/input-currency"></require>

  <!-- PAGE CONTENT -->
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Empréstimos</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Empréstimos</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Formulário de Cadastro </h4>
            <p class="font-gray-dark">
              Informar os empréstimos recorridos pela empresa.
            </p>
            <form class="row" data-parsley-validate data-parsley-errors-messages-disabled submit.delegate="save()">
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="invoiceNumber">Contrato</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <input type="text" id="contractNumber" required="required" value.bind="loan.contractNumber" class="form-control" placeholder=" ">
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="date">Data</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <datepicker name="date" required="required" value.bind="loan.date" change.delegate="fireChangeDate($event)"></datepicker>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Valor (R$)</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <inputcurrency change.delegate="fireChangeValue($event)" required="required" />
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Juros(a.m)</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <inputcurrency change.delegate="fireChangeTax($event)" required="required" />
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">N° de Parcelas</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <input type="text" id="parcel" class="form-control" required="required" value.bind="loan.parcel" placeholder=" ">
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Descrição </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea class="form-control" rows="2" required="required" value.bind="loan.description"></textarea>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <button type="submit" class="btn btn-info">Salvar</button>
                <button show.bind="loan._id" click.delegate="clear()" type="button" class="btn btn-default">Cancelar</button>
              </div>
            </form>

            <div class="clearfix"></div>
            <br/>
            <br/>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Empréstimos <small>Listagem</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th># Contrato</th>
                        <th>Data de Vencimento</th>
                        <th>Valor</th>
                        <th>Parcelas</th>
                        <th>Descrição</th>
                        <th class="column-title no-link last"><span class="nobr">Opções</span>
                      </tr>
                    </thead>
                    <tbody>
                      <tr repeat.for="loan of loans">
                        <th scope="row">${loan.contractNumber}</th>
                        <td>${loan.date | dateFormat:'DD/MM'}</td>
                        <td style="color: #46b8da;">${loan.value | numberFormat:'$ 0,0.00'}</td>
                        <td>${loan.parcel}</td>
                        <td>${loan.description ? loan.description : '-'}</td>
                        <td class=" last">
                          <a href="#/loans/${loan._id}" class="btn btn-default btn-xs" alt="Editar" title="Editar"><i class="fa fa-pencil"></i></a>
                          &nbsp;
                          <a style="cursor: pointer" click.trigger="confirmDelete(loans._id)"class="btn btn-default btn-xs" alt="Excluir" title="Excluir"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
