<template>
    <select name.bind="name" class="select2_single form-control" value.bind="selected" id.bind="name" placeholder.bind="placeholder">
        <option></option>
        <option repeat.for="option of options" value.bind="option.value">${option.label}</option>
    </select>
</template>
