<template>

  <ai-dialog>
     <ai-dialog-body>
        <h2>${message}</h2>
     </ai-dialog-body>

     <ai-dialog-footer>
        <button click.trigger = "controller.cancel()">Cancelar</button>
        <button class="btn btn-success" click.trigger = "controller.ok(message)">Concluir</button>
     </ai-dialog-footer>

  </ai-dialog>

</template>
