<template>


  <!-- REQUIRE -->
  <require from="utils/converters.js"></require>
  <require from = "components/confirm-modal.html"></require>
  <require from = "components/bootstrap/select2/custom-select"></require>
  <require from = "components/bootstrap/datepicker/datepicker"></require>
  <require from = "components/jquery/currency/input-currency"></require>

  <!-- PAGE CONTENT -->
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Faturamentos</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Receitas</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <h4>Formulário de Cadastro </h4>
            <p class="font-gray-dark">
              Informar os ganhos da empresa.
            </p>
            <form class="row" data-parsley-validate data-parsley-errors-messages-disabled submit.delegate="save()">
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="invoiceNumber">NF</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <input type="text" id="invoiceNumber" required="required" value.bind="revenue.invoiceNumber" class="form-control" placeholder=" ">
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="date">Data</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <datepicker name="date" value.bind="revenue.date" required="required" change.delegate="fireChangeDate($event)"></datepicker>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Valor (R$)</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <inputcurrency id="value" required="required" value.bind="revenue.value" change.delegate="fireChangeValue($event)">
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="contract">Contrato </label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <select2 name="contract" selected.bind="revenue.contract" options.bind="contracts" placeholder="Selecione o Contrato" change.delegate="fireChangeContract($event)"></select2>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="truck">Caminhão</label>
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <select2 name="truck" selected.bind="revenue.truck" options.bind="trucks" required="required" placeholder="Selecione o Caminhão"></select2>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group required">
                <label class="control-label col-md-3 col-sm-12 col-xs-12" for="value">Descrição </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea class="form-control" rows="2" required="required" value.bind="revenue.description"></textarea>
                </div>
              </div>
              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <button type="submit" class="btn btn-success">Salvar</button>
                <button show.bind="revenue._id" click.delegate="clear()" type="button" class="btn btn-default">Cancelar</button>
              </div>
            </form>

            <div class="clearfix"></div>
            <br/>
            <br/>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Receitas <small>Listagem</small></h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th># CTE</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Contrato</th>
                        <th>Caminhão</th>
                        <th class="column-title no-link last"><span class="nobr">Opções</span>
                      </tr>
                    </thead>
                    <tbody>
                      <tr repeat.for="revenue of revenues">
                        <th scope="row">${revenue.invoiceNumber}</th>
                        <td>${revenue.date | dateFormat:'DD/MM/YYYY'}</td>
                        <td style="color: #26B99A;">${revenue.value | numberFormat:'$ 0,0.00'}</td>
                        <td>${revenue.contract.name ? revenue.contract.name : '-'}</td>
                        <td>${revenue.truck.plate ? revenue.truck.plate : '-'}</td>
                        <td class=" last">
                          <a href="#/revenues/${revenue._id}" class="btn btn-default btn-xs" alt="Editar" title="Editar"><i class="fa fa-pencil"></i></a>
                          &nbsp;
                          <a style="cursor: pointer" click.trigger="confirmDelete(revenue._id)"class="btn btn-default btn-xs" alt="Excluir" title="Excluir"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
