<template>

  <!-- REQUIRE -->
  <require from="../../utils/converters.js"></require>

  <!-- PAGE-CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Fluxo de Caixa <small>Demonstrativo mensal</small></h2>

          <div class="title_right">
            <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="number" class="form-control" value.bind="yearFilter" placeholder="Buscar ano...">
                <span class="input-group-btn">
                  <button class="btn btn-default" click.delegate="search()" type="button">Ok!</button>
                </span>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="x_content">

            <table class="table table-striped" style="width: 83vw !important;">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Jan</th>
                  <th>Fev</th>
                  <th>Mar</th>
                  <th>Abr</th>
                  <th>Mai</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Ago</th>
                  <th>Set</th>
                  <th>Out</th>
                  <th>Nov</th>
                  <th>Dez</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Lançamentos e Projeções</th>
                  <td repeat.for="flow of flows"><span style="color: ${flow.value < 0 ? '#d9534f' : flow.value > 0 ? '#26B99A' : ''};">${flow.value | numberFormat:'$ 0,0.00'}</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph x_panel">
          <div class="row x_title">
            <div class="col-md-6">
              <h2>Detalhamento dos Lançamentos <small>Mensal</small></h2>
            </div>
          </div>
          <div class="x_content">
            <div class="demo-container">
              <div id="placeholder3xx3" class="demo-placeholder" style="width: 100%; height: 60vh;">
                <canvas id="cashflowChart">
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</template>
