/* FILE TYPES ICONS */

.fa-docx::before, .fa-doc::before, .fa-rtf::before, .fa-odt::before {
  content: "\f1c2";
}

.fa-xls::before, .fa-xlsx::before, .fa-csv::before {
  content: "\f1c3";
}

.fa-pdf::before {
  content: "\f1c1";
}

.fa-jpg::before, .fa-png::before, .fa-jpeg::before, .fa-gif::before {
  content: "\f1c5";
}

.fa-ppt::before, .fa-pptx::before, .fa-pps::before {
  content: "\f1c4";
}

.fa-txt::before {
  content: "\f0f6";
}

.fa-zip::before, .fa-rar::before, .fa-7z::before {
  content: "\f1c6";
}

footer div.pull-right {
  text-align: end;
}

footer div img.img-circle {
    width: 4em !important;
    margin: 0px !important;
}

.loading-indicator {
  text-align: center;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  overflow: hidden !important;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #fff;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

@media (max-width: 600px) {
  .x_content {
    overflow: auto;
  }
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.pg-loading-screen .pg-loading-html p.loading-message {
    font-size: 20px;
    margin-bottom: 100px;
}

.shake {
  animation-iteration-count: infinite;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70$ {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.nav-sm .navbar.nav_title a img {
  width: 42px;
  height: 42px;
  background-size: 38px 38px;
  margin-left: 2px;
}

.nav-md .navbar.nav_title a img {
  width: 38px;
  height: 38px;
  background-size: 38px 38px;
  margin-left: 12px;
}

.nav-md .navbar.nav_title a span {
  margin-left: 12px;
}

.bg-expense-1 {
  background: #38610B !important;
  border: 1px solid #38610B !important;
  color: #fff;
}

.bg-expense-2 {
  background: #31B404 !important;
  border: 1px solid #31B404 !important;
  color: #fff;
}

.bg-expense-3 {
  background: #3ADF00 !important;
  border: 1px solid #3ADF00 !important;
  color: #fff;
}

.bg-expense-4 {
  background: #74DF00 !important;
  border: 1px solid #74DF00 !important;
  color: #fff;
}

.bg-expense-5 {
  background: #A5DF00 !important;
  border: 1px solid #A5DF00 !important;
  color: #fff;
}

.bg-expense-6 {
  background: #D7DF01 !important;
  border: 1px solid #D7DF01 !important;
  color: #fff;
}

.bg-expense-7 {
  background: #DBA901 !important;
  border: 1px solid #DBA901 !important;
  color: #fff;
}

.bg-expense-8 {
  background: #DF7401 !important;
  border: 1px solid #DF7401 !important;
  color: #fff;
}

.bg-expense-9 {
  background: #DF3A01 !important;
  border: 1px solid #DF3A01 !important;
  color: #fff;
}

.bg-expense-10 {
  background: #DF0101 !important;
  border: 1px solid #DF0101 !important;
  color: #fff;
}

.overflow_262 {
  max-height: 262px;
  height: 250px;
  overflow: hidden;;
}

.nav-md .container.body .col-md-3.left_col {
  z-index: 999 !important;
}

.h_450 {
  height: 450px !important  ;
}

.h_500 {
  height: 500px !important  ;
}

ai-dialog-overlay {
  opacity: 0.5 !important;
  background-color: black;
}

ai-dialog-container {
  overflow: hidden !important;
}

div.msg-empty-dashboard-chart {
  text-align: center;
  color: #BAB8B8;
  margin-top: 8em;
}

input.parsley-error, textarea.parsley-error, select.parsley-error, span.select2-selection.parsley-error {
  background: #FAEDEC;
  border: 1px solid #E85445;
}

textarea {
  resize: none;
}

table.dataTable thead .sorting_asc::after {
  position: relative !important;
  top: 0.2em !important;
  left: 0.2em !important;
  display: inline !important;
  /*content: "\e151" !important;*/
}
table.dataTable thead .sorting_desc::after {
  position: relative !important;
  top: 0.2em !important;
  left: 0.2em !important;
  display: inline !important;
  /*content: "\e152" !important;*/
}
table.dataTable thead .sorting::after {
  position: relative !important;
  top: 0.2em !important;
  left: 0.2em !important;
  display: inline !important;
  /*content: "\e150" !important;*/
}

.datepicker .datepicker-inline {
  z-index: 9998;
  border: 1px solid #D9DEE4;
}

.datepicker .invisible {
  display: none;
}
