<template>

  <!-- REQUIRE -->
  <require from = "../../components/confirm-modal.html"></require>

  <!-- PAGE-CONTENT -->
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2> Usuários <small>Central de Administração de Usuários</small></h2>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">

        <div class="table-responsive">
          <table class="table table-striped jambo_table">
            <thead>
              <tr class="headings">
                <th class="column-title">Nome de Exibição </th>
                <th class="column-title">Email </th>
                <th class="column-title">Situação </th>
                <th class="column-title no-link last"><span class="nobr">Opções</span>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr repeat.for="user of users" class="${ $index % 2 == 0 ? 'even' : 'odd' } pointer">
                <td class=" ">${user.displayName}</td>
                <td class=" ">${user.email}</td>
                <td class=" ">
                  <button type="button" click.delegate="changeStatus(user)" class="btn ${user.active ? 'btn-success' : 'btn-danger'} btn-xs">${ user.active ? 'Ativo' : 'Inativo'}</button>
                </td>
                <td class=" last">
                  <!-- <a href="#/user/${user._id}"><span class="fa fa-pencil">&nbsp;Editar</span></a> -->
                  <!-- &nbsp; -->
                  <a style="cursor: pointer" click.trigger="confirmDelete(user._id)"class="btn btn-default btn-xs" alt="Excluir" title="Excluir"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
