<template>

  <ai-dialog>
    <ai-dialog-body>
      <h2>Edição de Imagem</h2>
      <hr />
      <!-- image cropping -->
      <div class="container cropper">
        <div class="row">
            <div class="col-md-6" style="width: 20em; height: 20em;">
              <img id="image" class="avatar-view img-responsive" src="${model.image}" alt="Imagem">
            </div>
            <div class="col-md-6 docs-preview" style="width: 10em; height: 10em;">
              <div class="img-preview preview-lg"></div>
            </div>
        </div>
        <div class="row">
          <br/>
        </div>
        <div class="row">
            <div class="docs-buttons">
              <!-- <h3 class="page-header">Toolbar:</h3> -->
              <div class="btn-group">
                <button type="button" class="btn btn-default" data-method="setDragMode" data-option="move" title="Move">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Alternar para movimentação da imagem">
                    <span class="fa fa-arrows"></span>
                  </span>
                </button>
                <button type="button" class="btn btn-default" data-method="setDragMode" data-option="crop" title="Crop">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Alternar para movimentação da área de corte">
                    <span class="fa fa-crop"></span>
                  </span>
                </button>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-default" data-method="zoom" data-option="0.1" title="Zoom In">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Diminuir">
                    <span class="fa fa-search-plus"></span>
                  </span>
                </button>
                <button type="button" class="btn btn-default" data-method="zoom" data-option="-0.1" title="Zoom Out">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Aumentar">
                    <span class="fa fa-search-minus"></span>
                  </span>
                </button>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-default" data-method="rotate" data-option="-45" title="Rotate Left">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Girar para esquerda">
                    <span class="fa fa-rotate-left"></span>
                  </span>
                </button>
                <button type="button" class="btn btn-default" data-method="rotate" data-option="45" title="Rotate Right">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Girar para direita">
                    <span class="fa fa-rotate-right"></span>
                  </span>
                </button>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-default" data-method="scaleX" data-option="-1" title="Flip Horizontal">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Inverter na horizontal">
                    <span class="fa fa-arrows-h"></span>
                  </span>
                </button>
                <button type="button" class="btn btn-default" data-method="scaleY" data-option="-1" title="Flip Vertical">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Inverter na vertical">
                    <span class="fa fa-arrows-v"></span>
                  </span>
                </button>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-default" data-method="disable" title="Disable">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Travar área de corte">
                    <span class="fa fa-lock"></span>
                  </span>
                </button>
                <button type="button" class="btn btn-default" data-method="enable" title="Enable">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Destravar área de corte">
                    <span class="fa fa-unlock"></span>
                  </span>
                </button>
              </div>

              <div class="btn-group">
                <label class="btn btn-warning btn-upload" for="inputImage" title="Upload image file">
                  <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                  <span class="docs-tooltip" data-toggle="tooltip" title="Importar Nova Imagem">
                    <span class="fa fa-upload"></span>
                  </span>
                </label>
              </div>
            </div><!-- /.docs-buttons -->
        </div>
      </div>
      <!-- /image cropping -->
    </ai-dialog-body>

    <ai-dialog-footer>
      <button click.trigger = "controller.cancel()">Cancelar</button>
      <button class="btn btn-success" click.trigger = "crop(message)">Concluir</button>
    </ai-dialog-footer>

  </ai-dialog>

</template>
